


/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 768px) and (max-width : 1024px){

    #page{
        margin-left:0;
    }

    #primary{
        width:751px;
        background :red;
    }

    .cat-icons2 {

        margin: 20px 0 0 -3px;
        float: left;
        color: white;
        zoom: 0.80;
        -moz-transform: scale(0.80);
        -moz-transform-origin: 0 0;
    }



    /*.home .bg {
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        background: url('../../../uploads/2017/03/DSC4802_2.jpg') no-repeat center center;
        background-size: cover;

        !*transform: scale(1.1);
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);*!

    }*/

    #page{

        margin-left:0;
    }

    #primary{
        width:751px;
        /*background :red;*/
    }


}

@media only screen and (min-device-width : 768px) and (max-width : 1223px){

    /*#primary{
        width:751px;
        !*background :red;*!
    }

    .cat-icons2 {

        margin: 20px 0 0 -3px;
        float: left;
        color: white;
        zoom: 0.80;
        -moz-transform: scale(0.80);
        -moz-transform-origin: 0 0;
    }
    */


    .hi-icon-wrap {
        display: table-cell;
        position: absolute;
        /* left: 0; */
        top: calc(50% - 322px);
        /*opacity: 1;*/
        text-align: center;
        margin: 0 auto;
        /* padding: 2em 0 3em;
         margin-top: -150px;*/
    }


    .sidebar {
        padding: 0;
    }


    #primary{
        width:951px;
        /*background :red;*/
    }

    .cat-icons2 {

        margin: 20px 0 0 -3px;
        float: left;
        color: white;
        zoom: 0.88;
        -moz-transform: scale(0.88);
        -moz-transform-origin: 0 0;
    }
}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    /* Styles */
    #primary{
        width: 1060px;
        /*background :green;*/

    }


    .hi-icon-wrap {
        display: table-cell;
        position: absolute;
        /* left: 0; */
        top: calc(50% - 322px);
        /*opacity: 1;*/
        text-align: center;
        margin: 0 auto;
        /* padding: 2em 0 3em;
         margin-top: -150px;*/
    }

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    /* Styles */

}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */

    svg#Layer_1 {
        width: 80px;
        height: 25px;
    }

    body.wpbdp-view-main .wrap{
        overflow: inherit!important;
    }

    #menu-menu_bg {
        margin-top: 0px;
    }

    /*  HOME SCREEN */

    .cat-icons2{
        width:190px;
        zoom: 0.90;
        -moz-transform: scale(0.60);
        -moz-transform-origin: 0 0;
    }

    .hi-icon:before {
        font-size: 30px;
        width: 90px;
    }

    .cat_name {
        text-align: center;
        text-transform: uppercase;
        font-size: 10px;
        color: #f7a707;
    }



    .home .bg {
        background-image:none;
        background-color: #F8F8F8;
    }

    body{
        background-color: #F8F8F8;
        /*background-image:  url('../../../uploads/2017/05/2.jpg');*/
    }

    .about-us-text{
        width: auto;
    }
    .team-content {
        display:block;
    }


    body.wpbdp-view-main #primary{
        width: 320px;
    }

    #primary{
        width: 256px;
        /*background:red;*/
    }
    #page{
        margin-left: 0;
    }

    #content{
        margin-top:42px;
    }


    .hi-icon-effect-5 .hi-icon {
        box-shadow: 0 0 0 4px rgba(247, 167, 7, 1);
        overflow: hidden;
        -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
        -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
        transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    }

    .cat-icons2 {
        margin: 20px 0 0 -3px;
        float: left;
        color: white;
        zoom: 0.50;
        -moz-transform: scale(0.50);
        -moz-transform-origin: 0 0;
    }

    /*contacts*/
    .wpbdp-login-form form {
        margin: 0 auto;
        width: 100%;
    }

    /*search form*/
    #wpbdp-search-form{
        padding:0;
    }

    #wpbdp-search-form .wpbdp-search-filter>.wpbdp-search-field-label{
        width:100%;
    }

    #wpbdp-search-form .wpbdp-search-filter>div.field{
        display: block;
        width: 100%;
        margin-left: 0;
        padding-left: 0px;
    }

    /*about us*/
    .page-template-page-aboutus #content h1 {
        background: #F8F8F8;
        width: 150px;
        margin: -40px auto;
        font-size: 30px;
    }

    /*Servces*/
    .page-template-page-services .services div {
        margin: 0 auto 10px;
        text-align: center;
    }

    .services-title {
        float: none;
        margin: 0 auto;
        font-weight: bold;
        color:#f7a707;
        font-size: 16px;
    }

    .services > div {
        margin-bottom:45px!important;
    }

    .page-template-page-services #content h1 {
        background: #F8F8F8;
        width: 240px;
        margin: -40px auto;
        font-size: 30px;
    }

    body.page-template-page-contacts .kbiz-contact-form {
        float:none;
    }

    #wpbdp-main-box{
        display:none;
    }


}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

@media only screen and (min-device-width: 320px)  and (max-device-height: 736px) and (orientation : landscape) {
    #page{
        margin-left:0;
    }
    svg#Layer_1 {
        width: 80px;
        height: 25px;
    }
}
@media only screen and (min-device-width: 320px)  and (max-device-height: 736px) and (orientation : portrait) {


    /* Styles */
    svg#Layer_1 {
        width: 100px;
        height: 30px;
        margin-top: -4px;
        margin-left: -25px;
    }

    body.wpbdp-view-main .wrap{
        overflow: inherit!important;
    }

    #menu-menu_bg {
        margin-top: 0px;
    }

    /*  HOME SCREEN */

    .cat-icons2{
        width:190px;
        zoom: 0.90;
        -moz-transform: scale(0.60);
        -moz-transform-origin: 0 0;
    }

    .cat_name {
        text-align: center;
        text-transform: uppercase;
        color: #f7a707;
    }



    .home .bg {
        background-image:none;
        background-color: #F8F8F8;
    }

    body{
        background-color: #F8F8F8;

    }

    .about-us-text{
        width: auto;
    }
    .team-content {
        display:block;
    }


    body.wpbdp-view-main #primary{
        width: 320px;
    }

    #primary{
        width: 256px;
        /*background:red;*/
    }
    #page{
        margin-left: 0;
    }

    #content{
        margin-top:42px;
    }


    .hi-icon-effect-5 .hi-icon {
        box-shadow: 0 0 0 4px rgba(247, 167, 7, 1);
        overflow: hidden;
        -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
        -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
        transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    }

    .cat-icons2 {
        margin: 20px 0 0 -3px;
        float: left;
        color: white;
        zoom: 0.50;
        -moz-transform: scale(0.50);
        -moz-transform-origin: 0 0;
    }


    /* about us */
    .page-template-page-aboutus #content h1 {
        background: #F8F8F8;
        width: 150px;
        margin: -40px auto;
        font-size: 30px;
    }

    /* Servces */
    .services-title {
        float: none;
    }



    body:not(.home) #page{
        background: none;
    }

    .page-template-page-services .btn{
        width:150px;
        display: block;
    }

    .page-template-page-services #content h1 {
        background: #F8F8F8;
        width: 240px;
        margin: -40px auto;
        font-size: 30px;
    }

    body.page-template-page-contacts .kbiz-contact-form {
        float:none;
    }

    #wpbdp-main-box{
        display:none;
    }


    h3.text-center.team-name{
        margin-top: 10px;
        margin-bottom: -10px;
    }

    .page-template-page-contacts .contacts-text > div.fa {
        color: #f7a707;
        float:left;
    }

    .page-template-page-contacts .contacts-text > div {
        margin-bottom:5px;
    }

    .page-template-page-contacts .contacts-text{
        margin: 73px auto 20px;
        text-align: center;
    }


    .wpcf7-form-control .wpcf7-text .wpcf7-validates-as-required {

    }


    .navbar-inverse .navbar-toggle {
        margin-right:-10px;
    }


    .container-fluid > .navbar-collapse {
        margin-right: -25px;
        margin-left: -25px;
    }

    /*Servces*/
    .page-template-page-services #services-text div {
        margin: 0 auto;
    }
    .page-template-page-services .services div {
        margin: 0 auto 10px;
        text-align: center;
    }

    .services-title {
        float: none;
        margin: 0 auto;
    }

    .page-template-page-services #content h1 {
        background: #F8F8F8;
        width: 240px;
        margin: -40px auto;
        font-size: 30px;
    }

    body.page-template-page-contacts .kbiz-contact-form {
        float:none;
    }

    #wpbdp-main-box{
        display:none;
    }


    .hi-icon-effect-5 .hi-icon {
        background: #F9A700;
        color: rgba(255, 255, 255, 1);
    }

}
