
.side-menu{
    position: fixed;
    top:0;
    left:15px;
    width:160px;
    height:100%;
    color:white;
    background-color: #021f34;
    overflow: hidden;
    display: none;
}

.cat-container{
    margin-top: -25px;
}

.cat-icons{
    width:91px;
    height:91px;
    background-color: #f7a600;
    margin: 50px 0 0 50px;
    float:left;
}

.side-menu #logo{
    heihgth:250px;

}

.side-menu .menu{
    margin: 250px 0 0 0 ;
    list-style: none;
}

.footer{
    height: 300px;
}
























